body{
    font-family: "Lato", sans-serif;
}
.lightColor{
    background-color: #e6f9f2;
}
.container{
    max-width: 1320px;
}
nav ul{
    padding-right: 142px;
}
nav .nav-link{
    color: #1B1B1B;
}
nav .nav-link:hover{
    color: #06C279;
}
.btn{
    background-color: #06C279;
    color: #ffffff;
    padding: 14.5px 25px;
}
.btn:hover{
    border-color: #06C279;
}

.banner{
    gap: 228px;
}
.left{
    max-width: 526px;
}
h1{
    font-size: 60px;
    font-weight: 300;
    line-height: 71.5px;
}
h1 span{
    font-weight: 700;
}
p{
    font-size: 20px;
    line-height: 30px;
    color: #717171;
    padding-top: 37px;
    padding-bottom: 51px;
}
.bannerMan{
    margin-left: -107px;
}
.bannerCircle{
    margin-top: 74px;
}